* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: Roboto;
}

header {
    width: 80%;
    margin: 0 auto;
    /* background-color: #e5e5e5; */
}

.part-1 {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    align-items: center;
}

.mainmenu {
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.ikki .vector {
    width: 17.5px;
}

.heroimg {
    width: 100%;
}

.menubar {
    padding: 50px;
}

.menubar ul {
    display: flex;
    justify-content: center;
}

.menubar ul li {
    margin-right: 48px;
    list-style-type: none;
}

.menubar ul li a {
    color: #b3b3b3;
}

.menubar ul li .active {
    color: black;
    text-decoration: black;
    border-bottom: 1px solid black;
    padding: 3px;
}